# **MÓDULO 24 - Bancos de Dados + SQL**

Para nossa atividade inicial de SQL trabalharemos com uma base de vendas.
Abaixo temos o ambiente de preparo para trabalharmos com o SQL lite.

In [3]:
import sqlite3 #Importando a biblioteca necessária
import pandas as pd

In [5]:
df_vendas = pd.read_csv("TB_VENDAS_TAREFA.csv", delimiter=';')

In [6]:
conn = sqlite3.connect(':memory:')
df_vendas.to_sql('tb_vendas', conn, index=False, if_exists='replace')

24

In [7]:
def run_query(query):
    return pd.read_sql_query(query, conn)

# 1) Faça uma consulta que retorne todos os dados da nossa tabela de vendas, com todas linhas e todas colunas.

In [8]:
query = "SELECT * FROM tb_vendas"
result_df = run_query(query)
print(result_df)

    ID_COMPRA  ID_CLIENTE   PRODUTO VALOR_UNID  UNIDADES
0        1247        9081  CAMISETA       34,5         2
1        1248        9081     CALCA       89,9         1
2        1250        9560  CAMISETA       34,5         1
3        1249        9630   BERMUDA       79,5         2
4        1251        9425  CAMISETA       34,5         3
5        1252        9425   VESTIDO        102         1
6        1253        9481     CALCA       89,9         2
7        1254        9785      MEIA       25,9         1
8        1255        9786     CALCA       89,9         2
9        1256        9787   VESTIDO        102         1
10       1257        9788     CALCA       89,9         2
11       1258        9789  CAMISETA       34,5         3
12       1259        9790  CAMISETA       34,5         1
13       1260        9791   BERMUDA       79,5         2
14       1261        9792  CAMISETA       34,5         2
15       1262        9793     CALCA       89,9         2
16       1263        9794     CALCA       89,9         1
17       1264        9795   BERMUDA       79,5         2
18       1265        9796  CAMISETA       34,5         4
19       1266        9797  CAMISETA       34,5         1
20       1267        9798   VESTIDO        102         2
21       1268        9799      MEIA       25,9         3
22       1269        9800  CAMISETA       34,5         2
23       1270        9801     CALCA       89,9         1

# 2) Faça uma consulta que retorne apenas 10 linhas da coluna produto.

In [9]:
query = "SELECT PRODUTO FROM tb_vendas LIMIT 10"
result_df = run_query(query)
print(result_df)

    PRODUTO
0  CAMISETA
1     CALCA
2  CAMISETA
3   BERMUDA
4  CAMISETA
5   VESTIDO
6     CALCA
7      MEIA
8     CALCA
9   VESTIDO

# 3) Faça uma consulta que retorne a média do valor por unidade e também das unidades vendidas. Não se esqueça de renomear o nome das colunas ao cria-las.

In [ ]:
query = "SELECT AVG(VALOR_UNID) AS MÉDIA_VALOR_UNIDADE, AVG(UNIDADES) AS MÉDIA_UNIDADES_VENDIDAS FROM tb_vendas"
result_df = run_query(query)
print(result_df)

   MÉDIA_VALOR_UNIDADE  MÉDIA_UNIDADES_VENDIDAS
0            63.416667                 1.833333

# 4) Note que na nossa tabela não temos o total de valor gasto por compra, temos o valor do produto e a quantidade vendida, para termos o valor total precisamos multiplicar essas duas colunas e para multiplicar colunas usamos o *.
# Faça uma consulta que retorne a coluna ID_COMPRA, ID_CLIENTE e o valor total gasto.

Ex: SELECT TICKET_MEDIO*UNIDADE FROM TB_EXEMPLO

In [ ]:
query = "SELECT ID_COMPRA, ID_CLIENTE, VALOR_UNID*UNIDADES AS VALOR_GASTO FROM tb_vendas"
result_df = run_query(query)
print(result_df)

    ID_COMPRA  ID_CLIENTE  VALOR_GASTO
0        1247        9081           68
1        1248        9081           89
2        1250        9560           34
3        1249        9630          158
4        1251        9425          102
5        1252        9425          102
6        1253        9481          178
7        1254        9785           25
8        1255        9786          178
9        1256        9787          102
10       1257        9788          178
11       1258        9789          102
12       1259        9790           34
13       1260        9791          158
14       1261        9792           68
15       1262        9793          178
16       1263        9794           89
17       1264        9795          158
18       1265        9796          136
19       1266        9797           34
20       1267        9798          204
21       1268        9799           75
22       1269        9800           68
23       1270        9801           89

# 5) [DESAFIO] Faça uma consulta que traz a média do valor total gasto que foi calculado no exercício anterior. Note que não queremos a média por pedido e sim a média total, apenas essa informação deve vir na consulta.

In [ ]:
query = "SELECT AVG(VALOR_UNID*UNIDADES) AS VALOR_TOTAL_GASTO FROM tb_vendas"
result_df = run_query(query)
# Exibir o resultado
print(result_df)

   VALOR_TOTAL_GASTO
0            108.625

# 6) Diferencie com suas palavras, considerando o repertório que tem criado da área de dados, a utilizadade do SQL e do Python para ciência de dados.
SQL é uma linguagem de programação usada para gerenciar e manipular bancos de dados relacionais, permitindo fazer consultas, inserir, atualizar e excluir dados. Ele é essencial para extrair as informações que vamos analisar. Já o Python é uma linguagem mais completa, que além de também conseguir se conectar a bancos de dados, permite fazer limpeza, transformação, visualização e análise dos dados, além de criar modelos de machine learning. Ou seja, o SQL é ótimo para acessar e organizar os dados, mas o Python oferece muito mais funcionalidades para trabalhar com eles do início ao fim do processo.

#7) Diferencie com suas palavras banco de dados relacionais de não relacionais.
Bancos de dados relacionais organizam as informações em tabelas, parecidas com planilhas, onde os dados se conectam por colunas em comum, chamadas chaves. Esse tipo de banco é ideal quando os dados seguem uma estrutura bem definida. Já os bancos de dados não relacionais armazenam os dados de forma mais flexível, como em documentos, listas ou pares de chave-valor, e não exigem um formato fixo. Por isso, são muito usados quando os dados são variados ou mudam com frequência.

#8) Queremos saber da sua opinião, acredita que o SQL pode ser mais prático que o Python para consultas rápidas? Justifique.

Sim, o SQL pode ser mais prático que o Python para consultas rápidas, porque ele foi feito especificamente para lidar com bancos de dados. Com poucos comandos, já é possível buscar, filtrar e organizar os dados de forma direta e eficiente. No entanto, é importante lembrar que o Python oferece muito mais funcionalidades além das consultas. Ele permite fazer análises complexas, visualizações de dados, automações e até construir modelos de machine learning, o que torna ele essencial em etapas mais avançadas da ciência de dados.